* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(black, white, black);
    background-size: 200px 500px;
}

.board {
    font-family: "Audiowide", sans-serif;
    position: absolute;
    left: 100px;
    text-align: center;
}

h1 {
    height: 120px;
    width: 600px;
    background-color: white;
    border: inset 20px gray;
    padding: 10px;
    font-size: 40px;
    margin-left: 30px;
}

h1 img {
    width: 45px;
}

.buttons button {
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 40px;
    width: 120px;
    height: 40px;
    border-radius: 30%;
    transition: 2s;
    display: inline-block;
}

.easy {
    color: green
}

.medium {
    color: orange;
}

.expert {
    color: red;
}

.easy:hover {
    background-color: green;
    color: white;
}

.medium:hover {
    background-color: orange;
    color: white;
}

.expert:hover {
    background-color: red;
    color: white;
}

.divider {
    margin-left: 30px;
}

.timer {
    display: inline-block;
    width: 200px;
    height: 90px;
    background-color: darkgray;
    padding: 10px 30px;
    border: outset 5px white;
    margin-top: 20px;
    margin-left: 30px;
}

.smiley {
    border: outset 5px white;
    display: inline-block;
    margin-left: 60px;
    font-size: 40px;
    height: 60px;
    width: 70px;
    background-color: darkgray;
    border-radius: 10px;
}

.mines-counter {
    display: inline-block;
    width: 200px;
    height: 90px;
    background-color: darkgray;
    padding: 10px 30px;
    border: outset 5px white;
    margin-left: 60px;
}

.life {
    border: inset 5px white;
    width: 130px;
    height: 30px;
    margin-top: 10px;
    background-color: darkgray;
    text-indent: 10px;
    display: inline-block;
}

.hint {
    border: inset 5px white;
    display: inline-block;
    width: 130px;
    height: 30px;
    margin-top: 10px;
    margin-left: 30px;
    background-color: darkgray;
    text-indent: 10px;
}

.safe {
    border: inset 5px white;
    display: inline-block;
    width: 130px;
    height: 30px;
    margin-top: 10px;
    margin-left: 30px;
    background-color: darkgray;
    text-indent: 10px;
}

.modal {
    height: 200px;
    width: 200px;
    position: absolute;
    background-image: linear-gradient(to top, rgb(121, 202, 207), rgb(255, 255, 255), rgb(194, 226, 144));
    border: rgb(39, 37, 37) inset 10px;
    display: none;
    right: 215px;
    bottom: 215px;
    border-radius: 30px;
    font-family: "Audiowide", sans-serif;
    font-size: 35px;
    padding: 20px;
    font-weight: bold;
}

.modal span {
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
}

.game-board {
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 500px;
    background-color: lightgray;
    border: 10px black double;
    padding: 10px;
}

table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

tr {
    height: 7.5%;
}

td {
    font-size: 100%;
    border: 5px outset darkgray;
}

.cell {
    background-color: rgb(153, 153, 153);
    color: black;
}

.cell:hover {
    background-color: rgb(58, 58, 58);
}

.hide {
    display: none;
}

.footer {
    margin-top: 20px;
    border-top: 5px black solid;
    padding: 10px;
}